:root{
    --primary-color: #2A7957;
    --primary-color2: #fdfdfd;
    --secondary-color: #A13850;
    --light-color: #2B5670;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	margin: 0;
	--color-text: #000000;
	--color-bg: #F9F6EE;
	--color-link: #fdfdfd;
	--color-link-hover: #A13850;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	font-family: "Palatino", "URW Palladio L", serif;
}

h1{
    font-size: 30px;
    color: var(--primary-color2);
    text-align: center;
}
h2{
	font-size: 40px;
    margin-bottom: 0.6rem;
    color: var(--primary-color) ;
}

p{
	font-size:25px;
}
li{
    list-style: none;   
}

a{
    text-decoration: none;
    color: var(--primary-color2);
}

#logo-img{
    height: 4rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    background-color: var(--primary-color);
    
}

.link-container{
    position: relative;
    width: 100%;
	
    background-color: var(--primary-color);
   
}
#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
	font-weight: bolder;

}

#nav-links li{
    padding: 0.75rem 2.5rem;
}


#main-body-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    margin: 5rem 0;
	padding-bottom: 10%;
    height: 100%;

    
}
a {
	text-decoration: none;
	color: var(--primary-color2);
	outline: none;
}

a:hover,
a:focus {
	color: var(--primary-color2);
	outline: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
	line-height: 1;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: 700;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--primary-color2);
}

.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
}

.menu__item {
	cursor: default;
	position: relative;
	padding: 0 2vw;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 2.5px #2B5670;
	-webkit-text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	font-family: "Palatino", "URW Palladio L", serif;
	counter-increment: menu;
	content:  counter(menu);
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 85%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 700;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@media screen and (min-width: 53em) {
	.frame {
		text-align: left;
		display: grid;
		align-content: space-between;
		width: 100%;
		padding: 2.5rem 6vw;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto;
	}

	.frame__title-wrap {
		display: flex;
		align-items: start;
	}

	.frame__info {
		margin: 0;
	}

	.frame__title {
		margin: 0 1rem 0 0;
	}

	.frame__links {
		padding: 0;
		justify-self: end;
	}

	.frame a {
		pointer-events: auto;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 6px;
  }
  
.column {
	flex: 25%;
	max-width: 35%;
	padding: 0 6px;
  }
  
.column img {
	margin-top: 10px;
	vertical-align: middle;
	width: 100%;
  }
  
@media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
@media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }

thead {
	background-color: var(--secondary-color);
	color: #2B5670;
}

table {
	margin: 5rem 0;
	box-shadow: 0px 5px 10px #ddd;
	border-collapse: collapse;
	border: 2px solid var(--secondary-color);
}

tbody{
	background-color: #fff;
	color: var(--secondary-color);

}

td,thead{ 
	width: 600px;
	padding: 5px;
	border: 3px solid var(--secondary-color);
	
}

main{
    height: 8rem;
    width: 100%;
    
}
.main-body {
	padding:50px;
	box-shadow: 0px 5px 10px #ddd;
	
}
.main-bod {
	padding:10px;
}
.body-item{

    height: 100%;
    margin: 0 1.5rem;
	
    
}

.image-container{
    height: 100%;
    width: 25rem;
	

}
.image-container img{
    width: 90%;
    height: auto;
    margin: 0 auto;
 
    border-radius: 5px;
}
.project-container{
	display:flex;
	flex-direction: column;
	justify-content:center;


}


.project-list{
	display:flex;
	flex-direction:row;
	width: auto;
	margin: 20px 0;
	
}

.piccolumn{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	
	margin: 20px 20px;
	background-color: #fff;
	box-shadow: 0px 5px 10px #ddd;
	width: 50%;
}

.piccolumn p{
	color: #D3D3D3;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	
}

.project-container video{
	padding: 40px;
	width: 40%;
	margin: 0 auto;
}
.piccolumn img{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	
}
.content-container{
	display:flex;
	flex-direction: column;
    padding-bottom: 20px;
	
}
.contact-container{
	display:flex;
	flex-direction: row;
	
}
form{
	display:flex;
	flex-direction: column;
	background-color: transparent;
	width: 50%;
	
	align-items: flex-start;
	
}

form input, textarea {
	margin:15px;
	padding: 15px;
	width: 80%;
	
	color: #000000;
	background-color:transparent;
	font-weight: bold;
	border: none;
	border-bottom: 2px #A13850 solid;
}

input::placeholder{
	color: #A13850;
	font-weight: bold;
	
}

input[type=submit]{
	border:none;
	background-color: #A13850;
	color: #fff;
	font-weight: bolder;
	
	cursor: pointer;
}

.contactImages{
	display:flex;
	flex-direction: column;
	
	align-items:center;
	background-color: #7393B3;
	height: 50px;
}

.contactImages a{
	width: 50px;
	padding: 10px;
	
}

.contactImages img{
	width: 90%;

}
footer{
    

    padding: 3rem 0;
    width: 100%;
    text-align: center;
    color: var(--primary-color2);
    background-color: var(--primary-color);
}